body {
	font-family: Arial,sans-serif;
	font-size: 16px;
	color: $default_text;
}

.grid-container {
	display: grid;
}

.left, .center, .right {
	float: left;
}

.clear {
	clear: both;
}

input {
	padding: 0 10px;
	&:focus {outline: none;}
}

a {
	@include Transition(all 0.3s ease-in-out);
	&:focus {
		outline: none;
	}
}

img {
	max-width: 100%;
}

.fa-sort-down:before, .fa-sort-desc:before {
  vertical-align: top;
  display: table-cell;
}

.slick-next {
	right: 25px;
}
.slick-prev {
	left: 25px;
}
.slick-arrow {
	z-index: 100;
}
.slick-disabled {
	cursor: default;
}