header {
	background-color: $bluebeacon;
	@media screen and (max-width: $break-md) {
		position: fixed;
		top: 0;
		z-index: 10000;
		width: 100%;
	}
	.grid-container {
		grid-template-columns: 150px 1fr;
		grid-template-rows: 60px;
		grid-gap: 40px;
		@media screen and (max-width: $break-sm) {
			grid-template-columns: 100%;
			grid-gap: 10px;
		}
		&.top {
			@media screen and (max-width: $break-sm) {
				grid-template-rows: 40px 60px;
			}
		}
		&.bottom {
			grid-template-columns: 150px 1fr;
			grid-template-rows: 40px;
			@media screen and (max-width: $break-sm) {
				grid-template-columns: 1fr 1fr;
			}
		}
	}
	#logo {
		background: url('../../images/amazon-logo.png') no-repeat center center;
		background-size: contain;
		margin-left: 20px;
		margin-top: 10px;
		position: relative;
		@media screen and (max-width: $break-sm) {
			margin-top: 10px;
			margin-left: 0px;
		}
		a {
			display: block;
			height: 100%;
			width: 100%;
			@media screen and (max-width: $break-sm){
				width: 200px;
				margin: auto;
			}
		}
	}
}