header {
	nav {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin-right: 15px;
				a {
					color: $lt_grey_text;
					text-decoration: none;
					line-height: 40px;
					font-size: 0.8125em;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		&#shop {
			ul {
				li {
					margin-right: 0;
					width: 100%;
					text-align: center;
                              @media screen and (max-width: $break-sm) {
                                text-align: left;
                                margin-left: 10px;
                              }
					a {
						color: $white;
						font-weight: 700;
						font-size: 0.875em;
						padding: 5px;
						border: none;
						&:hover, &.active {
							text-decoration: none;
							border: 1px solid #ddd;
						}
					}
				}
			}
      #departments-dropdown {
        position: absolute;
        background: $menu-background;
        z-index: 1000;
        width: 220px;
        padding: 10px 20px 10px 10px;
        left: -100%;
        @include Transition(left 0.3s ease-in-out);
        @media screen and (max-width: $break-md) {
          width: calc(100% - 30px);
        }
        &.active {
          left: 0;
        }
        ul {
          li {
            text-align: left;
            margin-left: 0;
            a {
              color: $default_text;
              padding: 0;
              font-weight: 400;
              line-height: 2em;
              font-size: 0.85em;
              &:hover {
                text-decoration: none;
                border: none;
                color: darken($action, 7%);
              }
            }
            i {
              float: right;
              margin-top: 5px;
              color: $disabled_text;
            }
          }
        }
      }
		}
		&.main-nav {
			&.desktop {
				@media screen and (max-width: 790px) {
					display: none;
				}
			}
			&.mobile {
				display: none;
				z-index: 1000;
				@media screen and (max-width: 790px) {
					display: block;
				}
			}
		}
	}
}

// hamburger menu
#menuToggle {
  display: block;
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  @media screen and (max-width: $break-sm) {
  	top: 119px;
  }
  &.active {
  	overflow: visible;
  	#menu {
  		background: $menu-background;
  	}
  }
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: $white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}
#menuToggle span:first-child{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
#menu{
  position: absolute;
  width: 160px;
  margin: 4px 0 0 -128px;
  padding: 10px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
  display: block;
  margin-right: 0;
  a {
  	color: $bluebeacon;
    display: block;
    width: 100%;
    &:hover {
      color: darken($action, 7%);
    }
  }
}
#menuToggle input:checked ~ ul{
  transform: scale(1.0, 1.0);
  opacity: 1;
}