#recommendations {
	margin: 0;
	padding: 0 10px 10px;
	background-color: $grey;
	.container {
		background-color: $white;
		padding: 20px;
	}
	h2 {
		margin-bottom: 30px;
		margin-top: 0;
	}
	img {
		height: 200px;
		width: auto;
		margin: auto;
	}
	.quick-look {
		display: none;
	}
	.slick-next, .slick-prev {
		&:before {
			color: $default_text;
		}
	}
	.slick-prev {
		left: -10px;
	}
	.slick-next {
		right: -10px;
	}
}