// color vars
$bluebeacon: #232f3e;
$action: #febd69;
$grey: #f3f3f3;
$default_text: #002E36;
$md_grey_text: #666;
$lt_grey_text: #ccc;
$dk_text: #002E36;
$disabled_text: #879596;
$white: #fff;
$teal: #82D8E3;
$lime: #ADE422;
$tangerine: #FFA724;
$watermellon: #FF5252;

// break points
$break-xl: 1200px;
$break-lg: 1024px;
$break-md: 768px;
$break-sm: 640px;
$break-xs: 480px;

// mixins
@mixin BorderRadius($param){
	-webkit-border-radius: $param;
	-moz-border-radius: $param;
	-o-border-radius: $param;
	-ms-border-radius: $param;
	border-radius: $param;
}
@mixin BoxShadow($param){
	-webkit-box-shadow: $param;
	-moz-box-shadow: $param;
	-ms-box-shadow: $param;
	-o-box-shadow: $param;
	box-shadow: $param;
}
@mixin InsetBoxShadow($param) {
	-webkit-box-shadow:inset $param;
	-moz-box-shadow:inset $param;
	-ms-box-shadow:inset $param;
	-o-box-shadow:inset $param;
	box-shadow:inset $param;
}
@mixin Transition($param){
	-webkit-transition:$param;
	-moz-box-transition: $param;
	-ms-transition: $param;
	-o-transition: $param;
	transition: $param;
}
@mixin Transform($param){
	-webkit-transform:$param;
	-moz-transform:$param;
	-ms-transform: $param;
	-o-transform: $param;
	transform: $param;
}

// imports
@import "_global.scss";		
@import "_header.scss";
@import "_nav.scss";
@import "_search.scss";
@import "_hero.scss";
@import "_recommendations.scss";
@import "_suggestion-categories-top.scss";
@import "_footer.scss";
